body{
 font-family:'Noto Sans Japanese', sans-serif ;
}

*{
    box-sizing: border-box;
}
img{
    width: 100%;
}

li{
    list-style: none;
}

header{
    text-align: center;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header h1{
    font-weight: 100;
    letter-spacing: 3px;
}

.header-title span{
    color: greenyellow;
}

nav{
    width: 100%;
}

nav ul{
 
}

nav li{
    display: inline-block;
    padding-top: 30px;
    margin-right: 50px;
   margin-bottom: 0;
}

nav li:hover{
    border-bottom: 2px solid grey;
    
}

.main-wrapper{
    margin-top: 40px;
   
}

.main-wrapper .container{
    display: flex;
    margin-bottom: 50px;
}

.main-left{
    width: 65%;
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service{
    display:inline-block; 
    width: 40%;
    position: relative;
    border: 1px solid #DCDCDC;
    flex: auto;
    margin: 10px;
    box-shadow:0 2 4px gray ;
}

.service:hover{
    position: relative;
    top: -2px;
    box-shadow:0 0 15px #dcdcdc ;
    transition: 0.5s;
}


.service img{
    width: 100%;
   
}

.service p{
    padding:5px 15px 20px;
    font-size: 15px;
}

.service .title{
    position: absolute;
    top: 2px;
    left: 3px;
    display: inline-block;
    padding: 5px 8px;
    background-color: gray;
    border-radius: 30%;
    color: white;
    font-size: 10px;

}

.service .date{
    text-align: right;
    color: gray;
    padding: 3px;
    font-size: 10px;
}

.main-right{
    width: 35%;
}

.main-right .thema{
    position: relative;
   text-align: center;
   border:1px solid #dcdcdc;
   margin-top: 10px;
}

.thema h2{
    color: white;
    display: inline-block;
    background-color: black;
    padding: 3px 0;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-right img{
    padding-top: 20px;
    width: 100%;
}

.main-right p{
    color: darkgray;
    font-size: 15px;
}

.main-right .btn{
    display:inline-block;
    background-color:rgb(214, 48, 103);
    color: white;
    padding:5px 30px ;
    font-size: 15px;
    border-radius: 20px 20px;
    letter-spacing: 2px;
}

.main-right .btn:hover{
    opacity: 0.7;
}

.thema-contents{
    padding: 15px;
}

.profile{
    text-align: center;
    border:1px solid #dcdcdc;
    margin-top: 20px;
}

.profile img{
    width: 40%;
    border-radius: 50%;
    margin-top: 20px;
    border: 1px solid #dcdcdc;
}

.profile p{
    font-size: 15px;
    padding: 5px 10px;
}

.profile h3{
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.profile h4{
    margin: 0;
    padding: 0;
    color: #dcdcdc;
    font-weight: normal;
}

.profile .under{
    background-color: greenyellow;
    display: block;
 
    padding: 10px 0 0 0;
    margin-top: 20px;
}

.under h3{
    color: white;
    font-size: 15px;
    margin: 0;
    font-weight: normal;
}

.icons{
 margin: 0;
 color: white;
 font-size: 20px;
}


.recent-post{
    border: 1px solid #dcdcdc;
    margin-top: 10px;
}

.recent-post .contents{
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}


.recent-post h2{
 border-bottom: 2px solid black;
 font-size:18px;
 font-weight: 500;
 margin: 5px;
}

.recent-post .post{
    display: flex;
}

.recent-post .pic{
  width: 35%;
}

.recent-post .info{
    width: 60%;
    padding-left:10px ;
    
}

.recent-post p{
    color: black;
    font-size: 13px;
}

.category-part{
    border: 1px solid #dcdcdc;
    margin-top: 10px;
}

.category-part h2{
    border-bottom: 2px solid black;
 font-size:18px;
 font-weight: 500;
 margin: 0;
}

.category-part .contents{
    width: 90%;
    
    margin: 0 auto;
    padding: 10px;
}

.category-part input{
    padding: 10px;
    background-color: #dcdcdc;
    margin-top: 10px;
}

.tag-part{
    border: 1px solid #dcdcdc;
    margin-top: 10px;
}

.tag-part h2{
    border-bottom: 2px solid black;
 font-size:18px;
 font-weight: 500;
 margin: 0;
}

.tag-part .contents{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.tag-part .tags{
 display: flex;
 flex-wrap: wrap;
 padding-top: 10px;
}

.tag-part .tag{
    font-size: 5px;
    padding:3px  5px;
    border-radius: 3px;
    background-color: #DCDCDC;
    margin: 5px;
}

.tag:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}


.search-part{
    border: 1px solid #dcdcdc;
    margin-top: 10px;
}

.search-part h2{
    border-bottom: 2px solid black;
 font-size:18px;
 font-weight: 500;
 margin: 0;
}

.search-part .contents{
    width: 90%; 
    margin: 0 auto;
    padding: 10px;
}

.search-part input{
    padding: 10px;
    background-color: #dcdcdc;
    margin-top: 10px;
    border-radius: 30px;
    width:90% ;
}

.search-part .input{
    text-align: center;
}

.recommend-part .contents{
    width: 90%;
    padding: 10px;
    margin: 0 auto;

}

 .recommend-part{
 border: 1px solid #DCDCDC;
 margin-top: 10px;
}

.recommend-part h2{
 border-bottom: 2px solid black;
 font-size:18px;
 font-weight: 500;
 margin: 5px;
}

.recommend-part .post{
    display: flex;
}

.recommend-part .pic{
  width: 35%;
}

.recommend-part .info{
    width: 60%;
    padding-left:10px ;
}

.recommend-part p{
    color: black;
    font-size: 13px;
}

footer{
    height: 800px;
    background-color:rgb(60, 54, 82);
    color: white;
    background-size: cover;
}

footer .container{
    display:flex ;
    padding: 20px;
}

.footer-left{
  width: 30%;
  margin: 0;
  
}

.footer-left .explain h2{
    font-size: 90px;
    margin: 0;
    text-align: center;
}

.footer-left p{
 font-size: 13px;
 letter-spacing: 3px;
}

.footer-middle{
 width: 30%;
}

.footer-right{
    width: 30%;
}

.footer-left .btn{
    display:inline-block;
    background-color:rgb(214, 48, 103);
    color: white;
    padding:10px 30px ;
    margin: 30px;
    font-size: 13px;
    border-radius: 20px 20px;
    letter-spacing: 2px;
}

.footer-tag{
    padding-top: 70px;
}

.footer-tag  h2{
 padding-left: 10px;
 font-size:15px;
 font-weight: 500;
 margin: 0;
 border-left:5px solid greenyellow;
}
.footer-tag  .tags{
 display: flex;
 flex-wrap: wrap;
 padding-top: 10px;
}

.footer-tag .tag:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}


.footer-tag  .tag{
    font-size: 5px;
    padding:3px 10px;
    border-radius: 3px;
    background-color: rgb(167, 162, 182);
    margin: 5px 2px 5px 0;
}

.footer-middle{
  padding: 30px;
  
}

.middle-category{
    margin-bottom: 70px;
}

.middle-category  h2{
    padding-left: 10px;
    font-size:15px;
    font-weight: 500;
    margin: 0;
    border-left:5px solid greenyellow;
    
   }

   .middle-category p{
       font-size: 12px;
       letter-spacing: 2px;
       padding-left: 8px;
   }

   .middle-category .fas{
     margin-right: 5px;
   }

.footer-right .popular-post h2{
    padding-left: 10px;
    font-size:15px;
    font-weight: 500;
    margin: 0;
    border-left:5px solid greenyellow;
}

.popular-post{
 padding-top: 25px;
}

.popular-post .post{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}



.popular-post .pic{
  width: 30%;
}


.popular-post .info{
    width: 60%;
    padding-left:10px ;
   
}

.popular-post p{
    font-size: 13px;
    margin: 0;
}
